<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-09HPRL3D73"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-09HPRL3D73');
    </script>
    <meta name="google-site-verification" content="-1c_cfNxggPlhguDHHcDZv-9anS-nP2w3lL6_Fkpj2w" />
    <meta charset="UTF-8">
    <title>Опытный сад</title>
    <script th:inline="javascript">
        let profile = [[${profile}]];
    </script>
</head>
<body>
<div id="app"></div>
    <script th:src="${isDevMode} ? 'http://localhost:8000/main.js' : '../../js/main.js'"></script>
</body>
</html>
